[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 120px;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #ccc;
}

.tab:hover {
  background-color: #aaa;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

/* form */

.container {
  padding: 20px;
  background-color: rgb(184, 171, 240);
  width: 50%;
  margin-left: 300px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}
div {
  padding: 10px 0;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.savebtn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}

.la {
  margin-top: 20px;
}

label {
  font-family: "Courier New", Courier, monospace;
}

.num {
  margin-left: 60px;
}

input[type="number"] {
  padding: 10px;
  border: none;
}

.dob {
  margin-top: 20px;
}

.marks {
  margin-left: 100px;
}

.marks {
  margin-top: 10px;
}

.marks input {
  float: right;
  margin-right: 60px;
}

/* details tab */

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr th {
  padding: 12px;
  font-size: 16px;
  font-weight: 600px;
  letter-spacing: 0.35px;
  opacity: 1;
  vertical-align: top;
  background-color: #ccc;
  /* border: 1px solid #aaa; */
}

table tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  padding: 8px;
  background-color: whitesmoke;
  text-align: center;
  /* border: 1px solid #ccc; */
}

.btn {
  color: white;
  padding: 12px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  color: black;
  font-weight: bold;
}

.submitbtn {
  background-color: green;
  border: none;
  cursor: pointer;
  color: black;
  width: 25%;
  padding: 14px 18px;
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 350px;
}

.r {
  background-color: red;
}
.g {
  background-color: green;
}

.y {
  background-color: yellow;
}

.end {
  border: 1px solid rgb(235, 122, 122);
}

@media only screen and (max-device-width: 768px) {
  .container {
    margin-left: 0px;
    width: 100%;
    background-color: #4caf50;
  }
}
